name: Build & Deploy Release

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew :library:lint :library:assembleRelease :library:testReleaseUnitTest

    - name: Publish release artifact to artifact repo
      run: echo "TODO"

    - name: Create GitHub release (tag?)
      run: echo "TODO"

    - name: Generate docs
      run: echo "TODO"
