name: snapshot

on:
  push:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build & verify with Gradle
        run: ./gradlew :library:detekt :library:lint :library:assembleRelease :library:testDebugUnitTest :library:jacocoTestReport :library:generateJacocoBadge --stacktrace
        # run: ./gradlew :library:detekt :library:lint :library:assembleRelease :library:testDebugUnitTest :library:jacocoTestReport --stacktrace
      - name: Check project dir
        run: ls -a && ls library/build/reports/jacoco/jacocoTestReport

      - name: Publish snapshot
        run: ./gradlew :library:publishSnapshotPublicationToGithubPackagesRepository
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
